.fred-sticker {
    width: 21mm;
    height: 220mm;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid lightgray;
    overflow:clip;
}

.loco-label {
    display: block;
    transform: rotate(180deg);
    height: 50mm;
    color: white;
    font-size: 16pt;
    font-weight: bold;
    line-height: 20pt;
    overflow: clip;
    padding-top: 2px;
}

.label-lg {
    margin: 0px;
    padding: 2px 0px 0px 0px;
    font-size: 14pt;
    font-weight: bold;
}

.label-sm {
    margin: 0px;
    padding: 2px 0px 0px 0px;
    font-size: 9pt;
    font-weight: bold;
}

.function {
    margin: 0px;
    padding: 0px;
}

.function-key {
    padding-top: 3px;
    font-size: 12pt;
    font-weight: bold;
    line-height: 12pt;
    margin: 0px;
    padding: 1px 1px 0px 1px;
}

.function-text {
    font-size: 10pt;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    padding: 0px 0px 1px 0px;
}
.owner {
    width: 100%;
    height: auto;
}

.owner-label {
    font-size: 6pt;
}

.owner-name {
    font-size: 8pt;
    font-weight: bold;
    padding: 2px;
}

.dcc-address {
    font-size: 11pt;
    font-weight: bold;
    background-color: yellow;
    color: black;
}

.operatorlogo-image {
    width: 70%;
}