.inventory-card {
    display: block;
    transform: rotate(90deg) translate(-22mm,-22mm);
    height: 90mm;
    width: 55mm;
    text-align: center;
    border: 1px solid lightgray;
    padding-top: 6px;
}

h1 {
    font-size: 10pt;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
}

.item {
    border-bottom: 1px solid lightgray;
    padding-top: 4px;
    padding-bottom: 4px;
}

.operator {
    font-size: 18pt;
    font-weight: bold;
}

.vehicle-number {
    font-weight: bold;
}

.model-make {
    font-size: 12pt;
    font-weight: bold;
}

.dcc-address {
    padding-top: 2pt;
    font-size: 12pt;
    font-weight: bold;
}

.owner-marking {
    border-bottom: 1px solid lightgray;
    padding-top: 6px;
    padding-bottom: 6px;
}

.owner-name {
    font-size: 12pt;
    font-weight: normal;
}

.owner-email {
    font-size: 9pt;
    font-weight: normal;
}
