



.functions {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-top: 0px;
    height: 3.5cm;
}

.functions-column {
    display: flex;
    flex-direction: column;
    /*border-left: 1px solid black*/
}

.function-key {

}

.function {
    width: 20px;
    color: white;
    background-color: black;
    font-weight: bolder;
    font-size: 11pt;
    line-height: 0.4cm;
    padding: 1px 2px 12px 1px;
}

.function-text {
    font-size: 10pt;
    padding: 0px 5px 0px 5px;
}
