.functions {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-top: 1px;
    height: 3.6cm;
}

.functions-column {
    display: flex;
    flex-direction: column;
}

.function-key {
    line-height: 14pt;
    padding: 2px 0px 1px 0px;
}

.function {
    width: 20px;
    color: white;
    background-color: black;
    font-weight: bolder;
    font-size: 12pt;
    padding: 1px 2px 3px 2px;
}

.function-text {
    font-size: 10pt;
    padding: 0px 5px 0px 5px;
}
