@if (Data is not null)
{
  <div class="uicmainclass" style="background-color: @Data.BackColor; color: @Data.BackColor.TextColor()">
      @Data.MainClass()
</div>  
}

@code {
    [Parameter] public Wagon? Data { get; set; }

}
