.uicmainclass {
    border-right: 1px solid black;
    height: 1.2cm;
    width: 1.6cm;
    font-weight: bold;
    font-size: 1.1cm;
    display: inline-block;
    vertical-align: top;
    font-family:'Times New Roman', Times, serif;
}
