@if (Data is null || Owner is null)
{
    <div>Not all data entered.</div>
}
else
{
    <div style="display:flex;flex-direction:column">
        <div>
            <WagonCard Data="@Data" Owner="@Owner" />
        </div>

        <div style="padding-top:10px; display:flex;flex-direction:row">
            @if (Data.IsCargoWagon)
            {
                <div>
                    <UicLabel Data=@Data />
                    <UicLabel Data=@Data />
                    <UicLabel Data=@Data />
                    <UicLabel Data=@Data />
                </div>
            }
            <InventoryCard Data="@Data" Owner="@Owner" />
        </div>
    </div>
}


@code {
    [Parameter] public Wagon? Data { get; set; }
    [Parameter] public Owner? Owner { get; set; }

    }