@if (Data is null || Owner is null)
{
    <div>Not all data entered.</div>
}
else
{
    <div>
        @if (Data.PrintOptions.PrintCard)
        {
            <div>
                <WagonCard Data="@Data" Owner="@Owner" />
            </div>
        }

        <div style="display:flex;flex-direction:row;margin-top:2px">
            @if (Data.PrintOptions.PrintInventoryCard)
            {
                <div>
                    <InventoryCard Data="@Data" Owner="@Owner" />
                </div>

            }
            @if (Data.IsCargoWagon)
            {
                <div>
                    <UicLabel Data=@Data FontSize="9" />
                    <UicLabel Data=@Data FontSize="9" />
                    <UicLabel Data=@Data />
                    <UicLabel Data=@Data />
                </div>
            }
        </div>
    </div>
}


@code {
    [Parameter] public Wagon? Data { get; set; }
    [Parameter] public Owner? Owner { get; set; }
}