@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Arial Nova', Arial, sans-serif;
    margin: 0pt;
}

a, .btn-link {
    color: #0366d6;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Styles for inputs */

.label {
    margin: 0px;
    padding: 1px;
    font-weight: normal;
}

    .label.H0 {
        padding: 2px 0px;
        line-height: 6pt;
        font-size: 7pt;
    }

    .label.N {
        font-size: 6pt;
        line-height: 9pt;
    }

.inputradio {
    border: 1px solid white;
    background-color: gray;
    color: white;
}

.inputradio-label {
    font-size: 7pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.inputradio-field {
    font-size: 7pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.value {
    padding: 0px;
    font-size: 18pt;
    font-weight: bold;
}

    .value.H0 {
        font-size: 12pt;
        line-height: 14pt;
        padding: 0px;
    }

    .value.N {
        font-size: 9pt;
        line-height: 12pt;
        padding: 0px;
    }

.value-sm {
    font-size: 12pt;
    font-weight: bold;
    line-height: 10pt;
}

    .value-sm.N {
        font-size: 9pt;
        line-height: 9pt;
        padding: 0px;
    }

.property {
    margin: 0px 0px 0px 0px;
}

    .property.H0 {
        border-right: 1px solid black;
        padding: 0px 5px 0px 5px;
    }

    .property.N {
        border-right: 1px solid black;
        padding: 0px 2px 0px 2px;
    }

    .property.row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
    }

.inputlabel {
    display: inline-block;
    width: 20em;
    text-align: right;
    font-size: 9pt;
}

.inputshort {
    width: 5em;
    font-weight: bolder;
}

.inputwide {
    width: 15em;
    font-weight: bolder;
}

.inputurl {
    width: 30em;
    font-weight: bolder;
}

.button {
    display: inline-block;
    background-color: darkblue;
    border-radius: 5px;
    border: 2px solid #cccccc;
    color: white;
    text-align: center;
    font-size: 10pt;
    padding: 4pt;
    cursor: pointer;
    margin: 3px;
}

/* Styles for card preview */

.card {
    font-family: 'Arial Nova', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    overflow: clip;
}

    .card.H0 {
        /* Default style is for loco, border color is overriden in code */
        border: 0.5cm solid red;
        /* Measures below is inside border */
        height: 9.7cm;
        width: 14.0cm;
    }

    .card.N {
        /* Default style is for loco, border color is overriden in code */
        border: 0.3cm solid red;
        /* Measures below is inside border */
        height: 7.2cm;
        width: 4.5cm;
    }

.card-info {
    padding: 0px;
    margin: 0px;
    display: flex;
    border: 1px solid black;
    background-color: white;
}

    .card-info.H0 {
        /* These should ne 0.05 cm less that card size above so the black  Padding cannot be used! */
        height: 9.65cm;
        width: 13.95cm;
    }

    .card-info.N {
        /* These should ne 0.05 cm less that card size above so the black  Padding cannot be used! */
        flex-direction: column;
        height: 7.15cm;
        width: 4.45cm;
    }

.prototype-info {
    width: 8.4cm;
}

.pocket {
    display: inline-block;
    margin: 0.0cm;
    height: 9.7cm;
    width: 5.7cm;
    border-left: 1px solid black;
    text-align: center;
    color: gray;
    font-weight: bolder;
}

    .pocket.N {
        width: 4.5cm;
        height: 3.5cm;
        border-left: 0px solid black;
        border-bottom: 1px solid black;
    }

.pocket-text {
    font-size: 9pt;
    font-weight: bold;
}


.heading {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid black;
}

    .heading.H0 {
        height: 1.2cm;
    }

        .heading.H0.front {
            width: 100%;
        }

            .heading.H0.front.medium {
                font-size: 24pt;
            }

            .heading.H0.front.small {
                font-size: 20pt;
            }

        .heading.H0.back {
            font-stretch: condensed;
        }

            .heading.H0.back.medium {
                font-size: 22pt;
            }

            .heading.H0.back.small {
                font-size: 18pt;
            }

    .heading.N {
        height: 0.6cm;
    }

        .heading.N.front {
            width: 100%;
        }

            .heading.N.front.medium {
                font-size: 9pt;
            }

            .heading.N.front.small {
                font-size: 9pt;
                font-stretch: condensed;
            }

        .heading.N.back {
            width: 100%;
        }

            .heading.N.back.medium {
                font-size: 9pt;
            }

            .heading.N.back.small {
                font-size: 9pt;
                font-stretch: condensed;
            }

.identification {
    text-align: center;
    padding-top: 5px;
}

    .identification.front {
        width: 12cm;
    }

    .identification.back {
        width: 100%;
    }


.uicmainclass {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 3px 0px 3px;
}

    .uicmainclass.H0 {
        height: 1.2cm;
        width: 1.6cm;
        font-size: 1.1cm;
    }

    .uicmainclass.N {
        height: 0.6cm;
        font-size: 0.6cm;
    }

.dccaddress {
    display: block;
    padding: 1px;
    background-color: yellow;
    font-size: 12pt;
}

    .dccaddress.H0 {
        width: 1.2cm;
        font-size: 12pt;
    }

.inventory-card {
    display: inline-block;
    text-align: center;
    border: 5px solid black;
    padding-top: 10px;
}

    .inventory-card.H0 {
        transform: rotate(90deg) translate(-22mm,-22mm);
        height: 88mm;
        width: 48mm;
    }

    .inventory-card.N {
        height: 72mm;
        width: 45mm;
    }

.inventory-vehicle {
    width: 40mm;
}

.inventory-vehicle-image {
    max-height: 20mm;
    max-width: 49mm;
}


.vehicle-image {
    align-content: center;
}

    .vehicle-image.fred {
        
       height: 9mm;
        width: 100%;
        
    }

        .vehicle-image.fred img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

    .vehicle-image.inventory {
        width: 100%;
        height: 15mm;
    }

        .vehicle-image.inventory img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

    .vehicle-image.front {
        align-content: center;
    }

        .vehicle-image.front.H0 {
            height: 4.7cm;
            width: 100%;
            border-bottom: 1px solid black;
        }

            .vehicle-image.front.H0 img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

        .vehicle-image.front.N {
            height: 1.6cm;
            width: 100%;
            border-bottom: 1px solid black;
        }

            .vehicle-image.front.N img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

    .vehicle-image.back {
    }

        .vehicle-image.back.H0 {
            height: 4.9cm;
            width: 100%;
            border-bottom: 1px solid black;
        }

            .vehicle-image.back.H0 img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

        .vehicle-image.back.N {
            height: 1.6cm;
            width: 100%;
            border-bottom: 1px solid black;
        }

            .vehicle-image.back.N img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }



.owner {
    font-weight: bold;
}

    .owner.H0 {
        padding: 2px;
        height: 1.8cm;
        width: 5.0cm;
        font-size: 9pt;
        border-right: 1px solid black;
    }

    .owner.N {
        padding: 2px;
        height: 1.3cm;
        width: 3.5cm;
        font-size: 6pt;
        border-bottom: 1px solid black;
    }



.marking {
    padding: 2px;
}

    .marking.H0 {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        height: 1.6cm;
        width: 5.0cm;
    }

    .marking.N {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        height: 1.3cm;
        width: 100%;
    }

.marking-icon {
    align-content: center;
}

    .marking-icon.H0 {
        max-height: 1.2cm;
        max-width: 100%;
    }

    .marking-icon.N {
        max-height: 0.8cm;
        max-width: 100%;
    }


.owner-marking {
    text-align: center;
}

.inventory-number {
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

    .inventory-number.H0 {
        width: .9cm;
        height: .9cm;
        font-size: 10pt;
    }

        .inventory-number.H0.text {
            display: inline-block;
            vertical-align: bottom;
            line-height: 0.9cm;
        }

    .inventory-number.N {
        width: .9cm;
        height: .9cm;
    }

        .inventory-number.N.text {
            font-size: 10pt;
            display: inline-block;
            vertical-align: bottom;
            line-height: 0.9cm;
        }
