@page "/About"
<ContentView ContentName="About" />
<h2>References</h2>
<ul>
    <li><a target="_blank" href="https://github.com/tellurianinteractive/Tellurian.Trains.WagonCardApp/blob/master/RELEASENOTES.MD">Release notes</a></li>
    <li><a target="_blank" href="https://github.com/tellurianinteractive/Tellurian.Trains.WagonCardApp">Source code</a></li>
    <li><a target="_blank" href="https://github.com/tellurianinteractive/Tellurian.Trains.WagonCardApp/issues">File an issue!</a></li>

</ul>
