@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.card {
    border: 0.3cm solid red;
    height: 10.7cm;
    width: 15.0cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.card-inner {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 10.1cm;
    width: 14.4cm;
}
.heading {
    width: 100%;
    background-color: white;
    line-height: 37pt;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    height: 1.2cm;
    border-bottom: 1px solid black;
}

.picture.front {
    height: 5.25cm;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.picture.back {
    height: 4.9cm;
    width: 8.4cm;
    text-align: center;
}

.pocket {
    margin: 0.0cm;
    height: 10.1cm;
    width: 6.0cm;
    border-right: 1px solid black ;
    text-align: center;
    line-height: 9.9cm;
    color: gray;
    font-weight: bolder;
}

.functions {
}

.functions-column {
    display: flex;
    flex-direction: column;
    height: 3.6cm;
    /*border-left: 1px solid black*/
}

.label {
    margin: 0px 0px 0px 0px;
    line-height: 6pt;
    font-size: 8pt;
    font-weight: normal;
}

.value {
    font-size: 18pt;
    font-weight: bold;
    line-height: 18pt;
}

.value-sm {
    font-size: 12pt;
    font-weight: bold;
    line-height: 10pt;
}

.property {
    margin:0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
}

.owner {
    padding: 2px;
    height: 2cm;
    width: 3.7cm;
    font-size: 9pt;
    font-weight: bolder;
}

.function {
    color: white;
    background-color: black;
    width: 20px;
    font-weight: bolder;
    font-size: 12pt;
    line-height: 0.72cm;
    padding:  4px 5px 4px 5px;
}

.function-key {
    padding-top: 3px;
    font-size: 16pt;
    font-weight: bold;
    line-height:18pt;
}

.function-text {
    font-size: 12pt;
    padding: 0px 5px 0px 5px;
}

.locoimage {
    margin: 1px;
    max-width: 98%;
    max-height: 5.15cm
}

.print {
    margin: 0cm 0cm 0cm 0cm;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 1.0cm;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .pagebreak-hard {
        clear: both;
        page-break-after: always;
    }
}
