
.print {
}

@media print {
    @page {
        margin: 1.0cm;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .pagebreak-hard {
        clear: both;
        page-break-after: always;
    }
}
