@if (Data is null || Owner is null)
{
    <div>Not all data entered.</div>
}
else
{
    <div style="display:flex;flex-direction:row">
        <div>
            <CargoWagonCard Data="@Data" Owner="@Owner" />
            <InventoryCard Data="@Data" Owner="@Owner" />
        </div>
    </div>
}


@code {
    [Parameter] public CargoWagon? Data { get; set; }
    [Parameter] public Owner? Owner { get; set; }

}