

.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

    .card.frame {
        display: inline-block;
        width: 14.2cm;
        height: 9.9cm;
        border: 1px solid red;
    }
