



.functions {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.functions-column {
    display: flex;
    flex-direction: column;
    /*border-left: 1px solid black*/
}

.function-key {

}

.function {
    width: 20px;
    color: white;
    background-color: black;
    font-weight: bolder;
    font-size: 12pt;
    line-height: 0.7cm;
    padding: 8px 5px 8px 5px;
}

.function-text {
    font-size: 12pt;
    padding: 0px 5px 0px 5px;
}
